<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoggy Hoggy Hogwarts</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="./script.js" defer></script>
</head>
<body>
    <!--Nav Bar-->
    <div id="navbar">
        <h1>Hogwarts School of Witchcraft and Wizardry</h1>
    </div>
    <!-- <div id="container">

    </div>
    <div id="main_content">

    </div> -->
    <div id="sorting_hat">
        <img src="sorting_hat.jpeg" alt="Sorting Hat">
        <h1>Welcome!</h1>
        <p>Welcome to Hogwarts. The most prestigious of wizarding schools made only the more brilliant under the tutelage of the prestigious headmaster Albus Percival Wulfric Brian Dumbledore. Let me introduce myself. I am the Sorting Hat. Under my care, I will sort you into one of the four houses here at Hogwarts. Are you ready? </p>
    </div>
</body>
</html>